VAULT_ADDR=http://localhost:8200
VAULT_DEV_ROOT_TOKEN_ID=
AUTH_DB_PASS=
LINKS_DB_PASS=
ANALYTICS_DB_PASS=
AUTH_SERVER_VAULT_ROLE_ID=
AUTH_SERVER_VAULT_SECRET_ID=
LINK_SERVICE_VAULT_ROLE_ID=
LINK_SERVICE_VAULT_SECRET_ID=
REDIRECT_SERVICE_VAULT_ROLE_ID=
REDIRECT_SERVICE_VAULT_SECRET_ID=
ANALYTICS_SERVICE_VAULT_ROLE_ID=
ANALYTICS_SERVICE_VAULT_SECRET_ID=
API_GATEWAY_VAULT_ROLE_ID=
API_GATEWAY_VAULT_SECRET_ID=
INTERNAL_CLIENT_SECRET=
